.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

span {
  margin-top: 10px;
}

.card-body {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.main-container {
  overflow: auto;
  height: 800px;
}
.request-sent {
  color: red;
}
.friends {
  color: green;
}
