<div class="main-container">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Users</h4>
        <div *ngFor="let user of usersData">
          <div class="card-body">
            <div class="" (click)="navigateToUserPage(user._id)">
              <img
                class="image"
                [src]="'http://localhost:3400/' + user.profilePicture"
              />
              <b>{{ user.username }}</b>
            </div>
            <div class="">
              <span *ngIf="user.isFriend"> you both are friends </span>
              <button
                class="btn btn-dark"
                *ngIf="!user.reqSent && !user.isFriend"
                (click)="sendRequest(user._id)"
              >
                Send Req
              </button>
              <button *ngIf="user.reqSent" class="btn btn-success">
                Accept Request
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
