.image {
  height: 24%;
  width: 24%;
  /* margin-left: 20px; */
  margin-right: 20px;
}
a{
  text-decoration: none;
}

.card {
  width: 650px; 
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}
.likes-comment {
  display: flex;
}
.card-header {
  background-color: #fafafa; 
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
}

.card-text {
  margin-bottom: 5px;
  border: none;
  outline: none; 
}

.text-muted {
  color: #888;
}

.likes-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.likes-comments div {
  display: flex;
  align-items: center;
}

.likes-comments .icon {
  margin-right: 5px;
  color: #888;
}

.likes-comments .count {
  margin-left: 5px;
  font-weight: bold;
}

.tagged-people {
  margin-top: 10px;
}

.tagged-people span {
  margin-right: 5px;
  color: #3366cc; 
  font-weight: bold;
}

.likes-comment {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 1rem;
  margin-top: 10px;

  border: 0.3px solid #e3d5d5; 
  border-radius: 10px; 
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e3e3e3;
}

.likes-comment .card-text {
  margin: 0;
  display: flex;
  align-items: center;
}

.likes-comment .card-text .icon {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1.3em; 
}
.share {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1.3rem;
}
.head {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.user-head-image {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
}

.user-head-username {
  margin-left: 10px; 
  font-weight: bold;
}
.comments{
  width: 100%;
  display: flex;
}

.comment-user{
  display: flex;
  font-size: small;
  margin-bottom: 10px;
}
.comment-picture{
  width: 25px;
  height: 25px;
  /* margin-top: 3px; */
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 100%;
}

.load-more-comments-span{
  font-size: small;
}
.load-more-comments{
  display: flex;
  justify-content: end;
}
.unliked{
  font-size: 30px;
}


.comments-modal{
  width: 100%;
  display: flex;
}

.comment-picture-modal{
  width: 25px;
  height: 25px;
  /* margin-top: 3px; */
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 100%;
}
.comment-user-modal{
  display: flex;
  font-size: large;
  margin-bottom: 30px;
}


.comments-head-modal{
  margin-bottom: 40px;
}

.comment-form-modal{
  display: flex;
  padding: 10px;
}

.input-modal{
  width: 50%;
  margin-right: 20px;
}