<div class="card mb-3">
  <div class="head" (click)="navigateToUserPage(post.userUploaded._id)">
    <img class="user-head-image" [src]="'http://localhost:3400/' + post.userUploaded.profilePicture" >
    <span class="user-head-username">{{post.userUploaded.username}}</span>
  </div>
  <img
    [src]="'http://localhost:3400/' + post.imageOrVideo"
    class="card-img-top image"
    alt="Post image or video"
  />
  <div class="card-header">
    <h5>{{ post.caption }}</h5>
  </div>
  <div class="card-body">
    <h6 class="mb-3">Liked by {{ post.likes }} people..</h6>
    <div class="likes-comment">
      <button class="card-text btn"><span class="icon">❤️</span></button>
      <button class="card-text btn"><span class="icon">💬</span></button>
      <button class="card-text btn">
        <span class="share">▶</span>
      </button>
    </div>

    <p class="card-text" *ngIf="post.taggedPeople.length > 0">
      Tagged People:
      <span *ngFor="let person of post.taggedPeople">{{ person.name }} </span>
    </p>
    <p class="card-text">
      <small class="text-muted"
        >Posted on: {{ post.createdAt | date : "short" }}</small
      >
    </p>
  </div>
</div>
