<app-navbar></app-navbar>

<div class="main-container">
  <div class="container card">
    <form class="card mt-4 p-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="" *ngIf="!canUpdateThePost">
          <div class="head">
            <img
              class="user-head-image"
              [src]="
                'http://localhost:3400/' +
                selectedItem?.userUploaded?.profilePicture
              "
            />
            <span class="user-head-username">
              <!-- post.userUploaded.username -->
              {{ selectedItem?.userUploaded?.username }}
            </span>
          </div>
        </div>
        <div class="image-preview mb-3" *ngIf="imagePreview">
          <img [src]="imagePreview" alt="Image Preview" class="image-post" />
        </div>
        <input
          class="form-control-file"
          formControlName="file"
          type="file"
          (input)="onFileChange($event)"
          placeholder="This is the image for your Posts !!"
          *ngIf="canUpdateThePost"
        />
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          formControlName="caption"
          type="text"
          placeholder="This is the caption for your Posts !!"
        ></textarea>
      </div>
      <div class="form-group" *ngIf="selectedItem?.taggedPeople?.length > 1">
        <h5>Tagged Users</h5>
        <button
          type="button"
          class="btn btn-primary p-2 mb-5 mt-3 btnTag"
          *ngFor="let item of selectedItem?.taggedPeople"
        >
          <span class="">{{ item.username }}</span>
        </button>
      </div>
      <!-- <div class="form-group">
        <input
          type="text"
          placeholder="Search..."
          (input)="onSearchChange($event)"
          formControlName="searchText"
          class="search-input form-control"
        />
        <div class="search-bar">
          <ul *ngIf="filteredItems.length > 0" class="dropdown-list">
            <li
              *ngFor="let item of filteredItems"
              class="dropdown-item"
              (click)="setUsernameToSearch(item)"
            >
              {{ item.username }}
            </li>
          </ul>
        </div>
        <button
          class="btn btn-dark mt-2 mb-3 usersAdd"
          (click)="addTaggedPeople()"
          type="button"
        >
          add user
        </button>
      </div> -->

      <!-- <div class="form-group" *ngFor="let data of searchedUsers">
        <span class="badge badge-pill badge-primary">{{ data?.username }}</span>
      </div> -->
      <div class="row" *ngIf="canUpdateThePost">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block">Update Post</button>
        </div>
      </div>
      <div class="" *ngIf="!canUpdateThePost">
        <h4 class="comments-head-modal mb-3">Comments</h4>
        <h6 *ngIf="allComments.length < 1">No Comments for Post.</h6>

        <div class="comments-modal" *ngFor="let comment of allComments">
          <img
            [src]="'http://localhost:3400/' + comment.userId.profilePicture"
            class="comment-picture-modal"
          />
          <span class="comment-user-modal"
            >{{ comment.userId.username }} : {{ comment.comment }}</span
          >
        </div>
        <div class="load-more-comments">
          <span
            *ngIf="allComments.length >= 1"
            type="button"
            class="load-more-comments-span"
            (click)="getComments()"
            >...load more comments</span
          >
        </div>
      </div>
    </form>
  </div>
</div>
