<app-navbar></app-navbar>
<div class="main-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="h3 mt-4 mb-4 page-title">Settings</h2>
        <div class="my-4">
          <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="false"
                >Profile</a
              >
            </li>
          </ul>
          <!-- <form> -->
          <div class="row mt-5 align-items-center">
            <div class="col-md-3 text-center mb-5">
              <div class="avatar avatar-xl">
                <img
                  [src]="'http://localhost:3400/' + userData?.profilePicture"
                  alt="..."
                  class="avatar-img image-user rounded-circle"
                />
              </div>
            </div>
            <div class="col">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h4 class="mb-1">{{ userData?.username }}</h4>
                  <span class="mb-1 email-span">{{ userData?.email }}</span>
                  <p class="small mb-3">
                    <span class="badge badge-dark">India</span>
                  </p>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-7">
                  <p class="text-muted">
                    {{ userData?.bio }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">Name</label>
              <input
                type="text"
                id="firstname"
                class="form-control"
                [placeholder]="userData?.name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input
              disabled="true"
              type="email"
              class="form-control"
              id="inputEmail4"
              [placeholder]="userData?.email"
            />
          </div>

          <label class="mt-2" for="privacy">Privacy</label>
          <div class="toggle-container mb-3 mt-4">
            <label class="switch">
              <input
                type="checkbox"
                [checked]="userData?.privacy"
                (change)="onToggle()"
              />
              <span class="slider round"></span>
            </label>
          </div>

          <hr class="my-4" />
          <div class="row mb-4">
            <div class="col-md-6">
              <form
                [formGroup]="updatePasswordForm"
                (ngSubmit)="updatePassword()"
              >
                <div class="form-group">
                  <label for="inputPassword4">Old Password</label>
                  <input
                    type="password"
                    class="form-control mt-2 mb-2"
                    id="inputPassword5"
                    formControlName="oldPassword"
                  />
                </div>
                <div class="form-group">
                  <label for="inputPassword5">New Password</label>
                  <input
                    type="password"
                    class="form-control mt-2 mb-2"
                    id="inputPassword5"
                    formControlName="newPassword"
                  />
                </div>
                <div class="form-group">
                  <label for="inputPassword6">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control mt-2 mb-2"
                    id="inputPassword6"
                    formControlName="confirmPassword"
                  />
                </div>
                <button type="submit" class="btn btn-primary mt-3">
                  Update Password
                </button>
              </form>
            </div>
            <div class="col-md-6">
              <p class="mb-2">Password requirements</p>
              <p class="small text-muted mb-2">
                To create a new password, you have to meet all of the following
                requirements:
              </p>
              <ul class="small text-muted pl-4 mb-0">
                <li>Minimum 8 character</li>
                <li>At least one special character</li>
                <li>At least one number</li>
                <li>Can’t be the same as a previous password</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
